<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gestion de un Gimnasio</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <b><a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a></b>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><b>Actividades</b><span class="sr-only">(current)</span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/horario">Listar</a>
          <a class="dropdown-item" href="/">Insertar</a>
        </div>
      </li>
      <li class="nav-item">
          <b><a href="/listarUsuarios" class="nav-link">Usuarios <span class="sr-only">(current)</span></a></b>
      </li>
        <li class="nav-item">
          <b><a href="{{login_logout_url}}" class="nav-link">Logout <span class="sr-only">(current)</span></a></b>
      </li>

    </ul>

  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <h1>Rellenar actividades</h1>
        </div>
    </div>
</div>
<br>
<br><br>

 <form  method="post" action="/horario">
      <div class="form-group row">
          <div class="col-sm-3"></div>
          <label for="Lunes" class="col-1 col-form-label">Lunes</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="Lunes" name="actividades">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-3"></div>
        <label for="Martes" class="col-1 col-form-label">Martes</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Martes" name="actividades">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-3"></div>
        <label for="Miercoles" class="col-1 col-form-label">Miercoles</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Miercoles" name="actividades">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-3"></div>
        <label for="Jueves" class="col-1 col-form-label">Jueves</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Jueves" name="actividades">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-3"></div>
        <label for="Viernes" class="col-1 col-form-label">Viernes</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Viernes" name="actividades">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-3"></div>
        <label for="Sabado" class="col-1 col-form-label">Sabado</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Sabado" name="actividades">
        </div>
      </div>


     <div class="form-group row">
         <div class="col-sm-5"></div>
        <div class="col-sm-1">
            <b><input type="submit"  class="form-control btn btn-primary"  value="Enviar"></b>
        </div>
      </div>

</form>


</body>
</html>