<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Gestion de un Gimnasio</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <b><a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a></b>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><b>Actividades</b><span class="sr-only">(current)</span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/horario">Listar</a>
          <a class="dropdown-item" href="/">Insertar</a>
        </div>
      </li>
      <li class="nav-item">
          <b><a href="/listarUsuarios" class="nav-link">Usuarios <span class="sr-only">(current)</span></a></b>
      </li>
        <li class="nav-item">
            <b><a href="{{login_logout_url}}" class="nav-link">Logout <span class="sr-only">(current)</span></a></b>

      </li>

    </ul>

  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <h1>Listado de usuarios</h1>
        </div>
    </div>
</div>
<br>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
         <table class="table col-9 text-center table-bordered">
                <thead>
                    <tr>
                        <th scope="col"></th><th scope="col">Email</th><th scope="col">Name</th><th scope="col"><a href="/add"><i class="fas fa-plus-circle"></i>Añadir usuario</a></th>
                    </tr>
                </thead>
                <tbody>

                     {% for x in usuarios %}
                         <tr>
                            <td>{{loop.index}}</td><td>{{x.email}}</td><td>{{x.name}}</td>
                            <td><form  method="post" action="/eliminar?id={{ x.key.urlsafe() }}">
                                <input type="hidden" name="email" value="{{x.email}}">
                                <a href="/modificar?id={{ x.key.urlsafe() }}" class="btn btn-primary" role="button">Modificar</a>
                                <input type="submit" onclick='alert("Está eliminando un usuario, seguro que quiere realizar esta operación?.")'
                                       class="btn btn-primary" value="Eliminar"/>
                            </form></td>
                         </tr>


                     {% endfor %}
                </tbody>
         </table>

</body>
</html>